
  /* ********************************************
  * IMPORT FONT
  ******************************************** */

  /* Azeret Mono */
  @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

  /* Nanum Gothic Coding */
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

  /* IBM Plex Sans KR */
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

  /* Nanum Square Neo (100, 300, 500, 700, 800)*/
  @import url(https://cdn.jsdelivr.net/gh/eunchurn/NanumSquareNeo@0.0.6/nanumsquareneo.css);

  /* Fira Code (300 ~ 700)*/
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


  /* ********************************************
  * THEME
  ******************************************** */

  :root {
    --text: #535353;
    --text2: #ababab;
    --background: #f8f8f8;
    --background2: #f3f3f3;
    --background3: #ececec;
    --background4: #cacaca;
    --blue: #316bcd;
    --blue2: #7A9FDF;
    --blue3: #BACDEE;
    --orange: #e88501;
    --orange2: #cd9731;
    --red: #cd3131;
    --purple: #800080;
  }

  /* ********************************************
  * ITEM
  ******************************************** */

  /* Tags */ 
  .node-tag {
    background: rgba(172, 30, 43, 0.6);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.3em;
    padding: 2px 5px;
  }
  .node-tag:hover {
    background: rgba(172, 30, 43, 0.6);
  }

  /* Node */
  .Node {
    color: var(--text);
    font-family: 'NanumSquareNeo';
    font-weight: 500;
  }
  .Node-children{
    border-color: var(--text2);
  }
  .node-inline-item {
    margin-top: 0px;
  }
  .node-bold {
    font-weight: 700;
  }

  /* Note */
  .Node-renderedNote {
    color: var(--blue2);
    background: var(--background2);
    font-style: italic;
    border-radius: 4px;
    padding: 2px 4px;
    width: fit-content;
  } 


  /* Code */
    /* Inline Code */
    .node-inline-code {
      color: var(--red);
      background-color: var(--background3);
      font-family: "Azeret Mono", "IBM Plex Sans KR";
    }
    /* Multi line code */
    .hljs {
      color: var(--text);
      background: var(--background3);
      font-family: "Azeret Mono", "IBM Plex Sans KR";
    }

  /* Link */
    /* Internal */
    .node-link-internal.is-displayed {
      font-family: inherit;
      border: none;
      color: var(--orange);
      font-style: italic;
      background: inherit;
    }
    .node-link-internal.is-displayed:before {
      content: "";
      padding-right: 0px;
    }
    .node-link-internal.is-displayed:hover {
      text-decoration: underline;
    }
    

  /* Document */
  .main-container {
    background: var(--background);
  }
  .DocumentContainer{
    background: var(--document-container);
  }

  /* App Header */
  .AppHeader {
    color: var(--text2);
    background-color: var(--background);
    box-shadow: none;
  }
  .AppHeader-icon {
    color: var(--text2);
  }

  /* Tools */
  .DocumentTools-overlay {
    background: var(--background)!important;
    box-shadow: none;
  }

  /* Left Pane */
  .LeftPaneContainer {
    background-color: var(--background);
  }
  .LeftPaneContainer-nav {
    background: var(--background);
  }
  .LeftPaneContainer-navItem {
    background: var(--background);
  }
    /* Item */
    .DocumentItem-title {
      font-family: "Fira Code", monospace;
      font-weight: 500;
    }
    .DocumentItem.is-open .DocumentItem-title {
      font-weight: 700;
    }

    /* Slider */
    .is-desktop .LeftPaneSlidebarContainer {
      box-shadow: none;
    } 

  /* ********************************************
  * MISC
  ******************************************** */

  /* Setting */
  .setting-right {
    display: inline;
  }
  textarea.setting-text-field {
    width: 100%;
    height: 30em;
  }
